{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Acerca de Nosotros...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenidos a nuestro E-Commerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    
<br/><br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus risus ac metus faucibus lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eget tristique massa. Phasellus ut lectus nec libero faucibus tristique vulputate sit amet tellus. Morbi mauris massa, commodo id dapibus sed, dictum id leo. Cras eu lorem pharetra, tempus lectus sit amet, malesuada nisl. Donec vitae dolor libero. Pellentesque eleifend, libero vel porttitor fringilla, odio sem pretium nisi, eget condimentum elit tortor sit amet velit. Aliquam pellentesque, velit nec ultrices posuere, nisi lacus aliquam urna, condimentum tristique sapien nisi a augue. In eu nunc et metus cursus laoreet. Nullam ut cursus dui.
<br/><br/>
In lacinia lectus sem, id posuere libero elementum quis. Maecenas commodo pulvinar odio in ultrices. Nam luctus tincidunt nisl sit amet feugiat. Integer blandit diam quis convallis tincidunt. Proin vehicula risus non condimentum porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac odio ex. Ut volutpat commodo ex, et posuere lectus.
<br/><br/>
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean tincidunt neque vitae venenatis commodo. Cras a semper dolor. Vivamus sed molestie diam. Praesent porttitor scelerisque massa sit amet scelerisque. Curabitur odio diam, commodo et risus id, mollis euismod arcu. Vestibulum eget nibh eu odio auctor mollis. Sed viverra bibendum risus, eu suscipit diam. Phasellus faucibus vulputate dolor, sit amet tincidunt lectus gravida vitae. Donec pellentesque mollis lacus, at vehicula magna ultrices eu. 
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}